<!--
   Run the fiducial_slam node
-->
<launch>
  <arg name="dictionary" default="0"/>
  <arg name="ignore_fiducials" default="4-50"/>
  <arg name="map_frame" default="map"/>
  <arg name="master_frame" default="master_marker"/>
  <arg name="master_fid" default="0"/>
  <arg name="publish_tf" default="true"/>
  <arg name="tf_publish_interval" default="0.05"/>
  <arg name="future_date_transforms" default="0.0"/>
  <arg name="publish_6dof_pose" default="true"/>
  <arg name="fiducial_len" default="0.03225"/>
  <arg name="systematic_error" default="0.001"/>
  <arg name="do_pose_estimation" default="false"/>
  <arg name="covariance_diagonal" default="[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="world_map_tf" args="0 0 0 0 0 0 1 $(arg master_frame) map" />

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="color_width" value="1280"/>
    <arg name="color_height" value="720"/>
    <arg name="enable_depth" value="true"/>
    <arg name="enable_infra1" value="false"/>
    <arg name="enable_infra2" value="false"/>
    <arg name="enable_sync" value="true"/>
  </include>
  <arg name="camera" default="/camera/color"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="world_cam" args="0 0 0 0 0 0 1 world camera_link" />
  <!-- <node pkg="cv_camera" type="cv_camera_node" name="cv_camera"/>
  <arg name="camera" default="/cv_camera"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="wolrd_cam" args="0 0 0 0 0 0 1 world camera" /> -->


  <include file="$(find aruco_detect)/launch/aruco_detect.launch">
    <arg name="camera" value="$(arg camera)"/>
    <arg name="dictionary" value="$(arg dictionary)"/>
    <arg name="fiducial_len" value="$(arg fiducial_len)"/>
    <arg name="ignore_fiducials" value="$(arg ignore_fiducials)"/>
  </include>

  <include file="$(find fiducial_slam)/launch/fiducial_rviz.launch"/>

  <node type="fiducial_slam" pkg="fiducial_slam" name="fiducial_slam">
    <param name="map_file" value="$(find fiducial_slam)/map.txt" />
    <param name="map_frame" value="$(arg map_frame)" />
    <param name="master_frame" value="$(arg master_frame)"/>
    <param name="master_fid" value="$(arg master_fid)"/>
    <param name="publish_tf" value="$(arg publish_tf)" />
    <param name="tf_publish_interval" value="$(arg tf_publish_interval)" />
    <param name="future_date_transforms" value="$(arg future_date_transforms)" />
    <param name="publish_6dof_pose" value="$(arg publish_6dof_pose)" />
    <param name="do_pose_estimation" value="$(arg do_pose_estimation)"/>
    <param name="sum_error_in_quadrature" value="true"/>
    <param name="fiducial_len" value="$(arg fiducial_len)"/>
    <param name="covariance_diagonal" value="$(arg covariance_diagonal)"/>
    <remap from="/camera_info" to="$(arg camera)/camera_info"/>
  </node>
</launch>
